h1 {
    background-color: azure;
    color: black;
    border: 4px solid blue;
    text-align: center;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

[class*="hea"] {
    background-color: aliceblue;
    border: 4px solid black;
    margin: 40px;
    padding: 15px;
}

.article {
    margin: 40px;
}

.forme1 {
    margin: 10px 0 40px 0;
}

.all {
    background-color: aqua;
    border: 4px solid aquamarine;

}

.all2 {
    background-color: aqua;
    border: 4px solid aquamarine;
}

#submit {
    background-color: rgb(230, 90, 25);
    border-radius: .6rem;
}

#reset {
    background-color: rgb(230, 90, 25);
    border-radius: .6rem;
}