h1 {
    background-color: azure;
    color: black;
    border: 4px solid blue;
    text-align: center;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

[class*="hea"] {
    background-color: aliceblue;
    border: 4px solid black;
    margin: 40px;
    padding: 15px;
}